<div id="boxWrapper">
  <div id="bungkus">
    <% @pasars.each do |pasar| %>
      <div><%= pasar.nama %></div>
        <% pasar.komoditis.each do |komoditi| %>
          <div>- <%= komoditi.nama_komoditi %> | <%= number_with_precision(komoditi.harga, :delimiter => ".", :precision => 0) %></div>    
        <% end %>
    <% end %>
  </div>
</div>

<script>
  
  $(document).ready(function(){
	//we hide the wrapper initially and then show it once the page loads and we're ready to animate (to prevent the user from seeing a flash of content on the screen). We use jQuery for simplicity, but it'd be just as easy to alter the element's style.visibility directly or use a TweenLite.set() call. In fact, we don't need jQuery at all for this page - we just wanted to demonstrate how well GSAP and jQuery can work together.
	$("#boxWrapper").css({visibility:"visible"});
  TweenLite.set($("#bungkus"), {perspective:'1200px'});

	var tl = new TimelineLite(),
	    letters = $("#bungkus div");
	tl.staggerFrom(letters, 2, {opacity:0, rotationX:-90, transformOrigin:"50% 0%", ease:Elastic.easeOut}, 0.3);
	  //.staggerTo(letters, 0.3, {scale:0.8}, 0.3, 0.7);
  
  });
  </script>