<div id="boxWrapper">
  <div id="bungkus">
    <% @pasars.each do |pasar| %>
      <div id="namapasar<%= pasar.id %>" class="nama-pasar"><%= pasar.nama %>
        <% pasar.komoditis.each do |komoditi| %>
          <div id="itemkomoditi" class="item-komoditi">
            <div class="item-nama"><%= komoditi.nama_komoditi %></div>
            <div class="item-harga"><%= number_with_precision(komoditi.harga, :delimiter => ".", :precision => 0) %></div>
          </div>    
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  
  $(document).ready(function(){
	// $("#center div").length
  // $("#center > div").length
    //document.write($("#bungkus > .nama-pasar").length); //=> return 2
    //document.write($("#bungkus .item-komoditi ").length); //=> return 4
    //document.write($("#namapasar1 .item-komoditi ").length); //=> return 3
    TweenMax.ticker.fps(30);

    var slide_length = $("#bungkus > .nama-pasar").length,        
        i=1,
        timeline;
        //tl = new TimelineMax({repeat:1, repeatDelay:1, onComplete:myFunction, onCompleteParams:["satu", "done"]});
        $("#boxWrapper").css({visibility:"visible"});
        TweenLite.set($("#bungkus"), {perspective:'1200px'});
        //$("#boxWrapper").css({visibility:"visible"});

      function initCSS() 
      {
        TweenLite.set($("#namapasar1"), {autoAlpha:0});
        TweenLite.set($("#namapasar2"), {autoAlpha:0});
      }

      function slideTimeline(a) 
        {
          var tl = new TimelineMax({repeat:1, repeatDelay:1}),
          letters = $("#namapasar" + a + " div");
          
          tl.staggerFrom(letters, 2, {opacity:0, rotationX:-90, transformOrigin:"50% 0%", ease:Elastic.easeOut}, 0.3);
            //.staggerTo(letters, 0.3, {scale:0.8}, 0.3, 0.7);

          return tl;
        }

      function createMasterTimeline() 
        {
          timeline = new TimelineMax({repeat:2, repeatDelay:1});
          timeline
            .set($("#namapasar1"), {autoAlpha:1})
            .add(slideTimeline(1), 0)
            .add("myLabel", "+=1")
            .set($("#namapasar1"), {autoAlpha:0})
            .set($("#namapasar2"), {top:0})
            .set($("#namapasar2"), {autoAlpha:1})
            .add(slideTimeline(2), "myLabel")
            ; //add the first animation at a time of 0.3 seconds
            //.add("devices", "-=0.1") //add "devices" label just 0.1 seconds before the end of the previous animation for a bit of overlap
            //.add(getDevicesTimeline(), "devices") //add the second animation and the "devices" label
            //.add("tabletAnimation", "+=0.4")
            //.add(getTabletAnimation(), "tabletAnimation"); 
          timeline.timeScale(1) // put a 4 in there, I dare you ;)
        }  

        //call the player
        initCSS();
        createMasterTimeline();
        //alert($("#namapasar2").top);    

  });
  </script>